.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 1.2em;
  margin-bottom: 2em;
}

.navbar__title {
}

.navbar__logo {
  font-family: "Mukta";
  background-image: linear-gradient(to right, #ffa634, #ff267a);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.navbar__icons {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.navbar__icons li {
  margin-left: 5rem;
}
